:root {
  /* colors */
  /* e9effb  green 
  2b3c91  blue
  */
  --primary: rgb(112, 23, 255);
  --secondary: rgb(73, 31, 224);
  --main-bg-color: rgb(46, 46, 46);
  --bg-dark: rgb(36, 36, 36);
  --header-text-color: rgb(255, 255, 255);
  /* space */
  --space-xs: clamp(0.62rem, calc(0.62rem + 0.22vw), 0.5rem);
  --space-s: clamp(0.88rem, calc(0.83rem + 0.22vw), 1rem);
  --space-m: clamp(1.31rem, calc(1.25rem + 0.33vw), 1.5rem);
  --space-l: clamp(1.75rem, calc(1.66rem + 0.43vw), 2rem);
  --border-rounded-corners: 0.5rem;
  --border-circle: 50%;
  /* shadows */
  --shadow-black: 0px 0px 30px 10px black;
  --shadow-white: 0px 0px 10px 2px white;
  --shadow-primary: 0px 0px 30px 10px var(--primary);
  --shadow-secondary: 0px 0px 30px 10px var(--secondary);
  --hover-animation: animate 2s infinite;
  --blue-accent: #3c90c1;

  /* fonts*/
  --step--1: clamp(0.83rem, calc(0.82rem + 0.1vw), 0.9rem);
  --step-0: clamp(1rem, calc(0.98rem + 0.19vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.16rem + 0.32vw), 1.41rem);
  --step-2: clamp(1.44rem, calc(1.38rem + 0.49vw), 1.76rem);
  --step-3: clamp(1.73rem, calc(1.64rem + 0.72vw), 2.2rem);
  --step-4: clamp(2.07rem, calc(1.94rem + 1.04vw), 2.75rem);
  --step-5: clamp(2.49rem, calc(2.31rem + 1.45vw), 3.43rem);
  --header-text-font: "Noto Sans JP", sans-serif;
  --body-text-font: Arial, Helvetica, sans-serif;
}
body {
  -webkit-background-clip: text;
  background-color: var(--primary);
  background-clip: padding-box;
  animation: var(--hover-animation);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: inherit;
  animation: var(--hover-animation);
}
*::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: inherit;
  animation: var(--hover-animation);
  box-shadow: 0px 0px 30px 10px var(--primary);
}
::-webkit-scrollbar {
  background-color: var(--bg-dark);
  animation: var(--hover-animation);
}

@keyframes animate {
  0% {
    box-shadow: var(--shadow-primary);
    background-color: var(--primary);
  }
  50% {
    box-shadow: var(--shadow-secondary);
    background-color: var(--secondary);
  }
  100% {
    box-shadow: var(--shadow-primary);
    background-color: var(--primary);
  }
}

/* Utility Classes--------------------------------------------------------- */
.flex {
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.border-white {
  border: solid 1px white;
  box-shadow: var(--shadow-white);
}
.border-purple {
  border: 1px solid var(--primary);
  box-shadow: var(--shadow-primary);
}
.border-black {
  border: 1px solid black;
  box-shadow: var(--shadow-black);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.bg-main {
  background-color: var(--main-bg-color);
}
.rounded {
  border-radius: var(--border-rounded-corners);
}
.wrapper {
  background-color: var(--main-bg-color);
  margin: 0px;
}
/* ------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}
body,
main {
  margin: 0px;
}
body {
  background-color: var(--main-bg-color);
  max-width: 100%;
}
main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 200px) {
}
@media screen and (min-width: 360px) {
}

@media screen and (min-width: 411px) {
}
@media screen and (min-width: 768px) {
  .spacer {
    margin: 150px;
  }
}
