.card {
  box-sizing: border-box;
  border-radius: var(--border-rounded-corners);
  background-color: var(--bg-dark);
  border: 1px solid black;
  box-shadow: var(--shadow-black);
  overflow: hidden;
}
slot[name="title"]::slotted(*) {
  text-align: center;
  padding: var(--space-s);
}

@media screen and (min-width: 200px) {
  .card {
    padding: var(--space-s);
    margin: var(--space-s);
  }
}
@media screen and (min-width: 360px) {
}
@media screen and (min-width: 411px) {
  .card {
    padding: var(--space-m);
    margin: var(--space-m);
  }
}

@media screen and (min-width: 768px) {
  .card {
    padding: var(--space-l);
    margin: var(--space-l);
  }
}
