:root {
  --shadow: 0px 3px 3px 3px #888888;
  --shadow-bk: 0px 3px 3px 3px black;
  --blue-accent: #3c90c1;
  --round-corner: 1rem;
}
body {
  overflow: unset;
}
.component {
  margin: 10px;
  color: white;
}
.componentContainer {
  margin: 5px;
  display: flex;
}
.componentContainer .componentInner {
  width: 300px;
  height: auto;
  margin: auto;
}
.componentContainer pre {
  font-size: 0.8rem;
  width: auto;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 5px;
}
.componentInnerFullWidth {
  text-align: center;
  height: auto;
  margin: auto;
}
.componentContainer pre::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  background-clip: padding-box;
}
.componentContainer pre::-webkit-scrollbar {
  background-color: var(--main-bg-color);
}

.componentCaption {
  margin: 5px;
}
progress[value] {
  appearance: none;
}
::-webkit-progress-value {
  height: 20px;
  background-color: var(--btn-bg-color) !important;
  border-radius: 10px;
}
progress::before {
  display: flex;
  justify-content: center;
  content: attr(data-count) "%";
}
::-webkit-progress-bar {
  border-radius: 10px;
}
#skeleton canvas.componentInner {
  border-radius: var(--round-corner);
}

.gamepad {
  border-radius: 50%;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 20px;
  height: 90px;
  width: 90px;
  margin: auto;
  box-shadow: var(--shadow-bk);
  border: 0px;
  outline: 0px;
}
#u {
  grid-column: 2;
  grid-row: 1;
}
#l {
  grid-column: 1;
  grid-row: 2;
}
#r {
  grid-column: 3;
  grid-row: 2;
}
#d {
  grid-column: 2;
  grid-row: 3;
}
.gamepad-btn {
  color: white;
  background-color: var(--btn-bg-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.wave {
  position: relative;
  background: white;
  height: 300px;
  width: 300px;
  outline: 0px;
  border: 0px;
  overflow: hidden;
  z-index: 1;
  border-radius: var(--round-corner);
}
.wave::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, var(--blue-accent), #0030cf);
  height: 200%;
  width: 200%;
  bottom: -65%;
  left: -50%;
  border-radius: 40%;
  animation: wave2 4s ease-in-out infinite;
}
.wave:after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, var(--blue-accent), #0030cf);
  height: 200%;
  width: 200%;
  bottom: -70%;
  left: -50%;
  border-radius: 45%;
  animation: wave 4s ease-in-out infinite;
  z-index: 1;
}
.card{
  margin-top: 50px;
  margin-bottom: 50px;
}
@keyframes wave {
  0% {
    transform: translateY(80%) rotate(180deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(80%) rotate(180deg);
  }
}
@keyframes wave2 {
  0% {
    transform: translateY(70%) rotate(200deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(70%) rotate(200deg);
  }
}
@media screen and (min-width: 320px) {
  .component {
    flex-direction: column-reverse;
  }
  .componentContainer {
    margin: 5px;
    flex-direction: column;
  }
  .componentContainer .componentInner {
    width: 280px;
    margin: 10px auto 10px auto;
  }
  .componentContainer pre {
    border-top: 1px solid var(--btn-bg-color);
    font-size: 0.7rem;
  }
  .componentCaption {
    text-align: center;
  }
}

@media screen and (min-width: 411px) {
  .componentContainer pre {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 731px) {
  .componentContainer .componentInner {
    width: 500px;
  }
  .componentContainer pre {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) {
  .component {
    flex-direction: column;
  }
  .componentContainer {
    flex-direction: row;
  }
  .componentContainer .componentInner {
    width: 300px;
    margin: auto;
  }
  .componentContainer pre {
    font-size: 1rem;
    width: 500px;
    border-top: none;
  }
  .componentCaption {
    text-align: left;
  }
  .gamepad {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .componentContainer pre {
    width: 700px;
  }
  main {
    padding-top: 75px;
  }
}
